#canvas-overlay {
    width:640px;
    height: 480px;
    contain:strict;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#canvas-overlay img {
    max-height:100%
}




