#title-screen {
    background-color: var(--clr-sky-blue);
    display:flex;
    /*align-items: flex-start;*/
    justify-items: flex-start;
}

#title-screen img {width: 50%}

#start-button {
    display: block;
    position: relative;
    max-width: 40%;
    /* margin: 12px auto 20px auto; */
    padding: 12px 34px 12px 38px;
    /* padding: 0; */
    transition: 0.3s;
    /* max-width: 30%; */
    max-height: 25%;
    background-color:transparent;
}
a {
    text-decoration: none;
    color: inherit;
}
#start-button:hover {
    transform: scale(120%) rotate(-2deg);
}
#start-button::before {
    content: "";
    position: absolute;
    padding: 1vw;
    border-radius: 3vw;
    background: conic-gradient(
            from var(--angle),
            var(--clr-pink),
            var(--clr-orange),
            var(--clr-gold),
            var(--clr-green),
            var(--clr-purple),
            magenta
    );
    animation: 4s rotate linear infinite;
    inset: 0;
    mask: linear-gradient(#fff, #000,#000) content-box, linear-gradient(#fff, #000, #000);
    mask-composite: exclude;
    cursor: pointer;
}
@keyframes rotate {
    to {
        --angle: 360deg;
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
    }
    70% {
        transform: translateY(0);
    }
    75% {
        transform: rotate(2deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    85% {
        transform: rotate(2deg);
    }
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
#start-button h2 {
    display: block;
    margin: 0;
    padding: 0;
    font-family: Silkscreen, sans-serif;
    font-size: 5vw;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #3f0279;
    letter-spacing: 0.5rem;
    /* max-width: 30vw; */
}
